.overlayPlayer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 450px;
  max-width: 100%;
  height: auto;
  background-color: $primary-color;
  padding: 1em;
  box-shadow: 0px 0px 5px #888;
  .close_button {
    color: #fafafa;
    border-color: #fafafa;
  }
  .playerPodcast {
    h2 {
      font-size: 1.5em;
      color: #fafafa;
      font-family: Open Sans;
      padding-bottom: .3em;
      padding-right: 3em;
    }
  }
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is requi$primary-color for Firefox. */
  background-color: #efefef;
  height: 9px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  margin-top: -1px;
  box-shadow: 1px 1px 1px white, 0px 0px 1px #acacac;
}
input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px white, 0px 0px 1px #acacac;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
}