.main {
  position: relative;
}
.podcastDetail {
  font-family: Open Sans, sans-serif;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  margin-bottom: 2em;
  position: relative;
  max-height: 10000px;
  transition: 1s all ease-in-out;
  &.ng-hide {
    max-height: 0;
    margin: 0;
    display: block !important;
    border: 0;
    opacity: 0;
    transition: 0s all ease-in-out;
    @include clearfix;
  }
  span.close_button {
    top: -10px;
    background-color: #fafafa;
  }
  h1 {
    font-size: 1.8em;
    color: #28400C;
    line-height: 2em;
    span {
      padding-left: 2em;
      font-size: .8em;
      color: #aaa;
      font-style: italic;
      font-weight: 100;
    }
  }
  .article {
    @include clearfix;
    .img, .text {
      float: left;
      width: 70%;
      margin-bottom: 2em;
    }
    .img {
      background-size: cover;
      height: 170px;
    }
    .text {
      line-height: 1.8em;
      p {
        margin-bottom: 1.5em;
        color: #3d3d3c;
        a {
          display: inline-block;
          background-color: $primary-color;
          padding: .3em 1em;
          color: white;
          text-decoration: none;
        }
      }
      .gallery {
        @include clearfix;
        width: 100%;
        padding: .5em;
        clear: both;
        text-align: center;
        .gallery-item {
          display: inline-block;
          width: 33%;
          margin: 0 auto;
          .gallery-caption {
            min-height: 5em;
            color: #3d3d3d;
            font-size: .8em;
            text-align: center;
          }
          a {
            display: block;
            img {
              width: 100%;
              height: auto;   
            }
          }
        }
      }
    }
    .aside {
      float: right;
      width: 30%;
      text-align: right;
      padding-left: 4em;
      ul {
        margin-top: 2em;
        li {
          line-height: 1.5em;
          color: #3d3d3d;
          padding-bottom: 1em;
        }
      }
    }
  }
  .top_button {
    position: relative;
    display: block;
    padding-left: 45px;
    background-color: #fafafa;
    color: #d3d3d3;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    width: 90px;
    font-weight: 500;
    height: 30px;
    text-align: left;
    bottom: -15px;
    left: 0;
    text-indent: 0;
    font-size: 14px;
    margin: 0 auto;
    &:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border-bottom: 2px solid #d3d3d3;
      border-right: 2px solid #d3d3d3;
      transform: rotate(-135deg);
      top: 10px;
      left: 17px;
    }
  }
}
a { 
  &.play, &.pause, &.stop, &.mute {
    display: inline-block;
    position: relative;
    width: 35px; 
    height: 35px;
    margin: 0;
    overflow: hidden;
    @include hide-text;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover {
      transition: all .5s ease-in-out;
      &:before, &:after {
        transition: all .5s ease-in-out;
      }
    }
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0;
      margin: auto;
    }
    &.play {
      &:before {
        right: -5px;
        width: 0; 
        height: 0;
        border-width: 10px 0 10px 15px;
        border-style: solid;
        border-color: transparent transparent transparent #fafafa;
      }
      &:hover {
        &:before {
        border-color: transparent transparent transparent #bbb;
        }
      }
      &.negative {
        &:before {
          border-color: transparent transparent transparent $primary-color;
        }
      }
    }
    &.pause {
      &:before {
        width: 5px; 
        height: calc(100%/2);
        box-shadow: -5px 0 #fafafa, 5px 0 #fafafa;
      }
      &:hover {
        &:before {
          box-shadow: -5px 0 #d3d3d3, 5px 0 #d3d3d3;
        }
      }
    }
    &.stop {
      &:before {
        width: calc(100%/2); height: calc(100%/2);
        background: #fafafa;
      }
      &:hover {
        &:before {
          background: #d3d3d3;
        }
      }
    }
    &.mute {
      text-indent: 0;
      line-height: 1em;
      font-size: .6em;
      width: auto;
      top: 1.4em;
      color: #fafafa;
      font-weight: 800;
      font-family: Open Sans, sans-serif;
      text-transform: uppercase; 
      &:hover {
        color: #d3d3d3;
      }       
    }
  }
}