.podcastList {
  font-family: Open Sans, Helvetiva, Arial, sans-serif;
  .podcast.box {
    height: $map-height/2;
    width: $map-height/2;
    position: relative;
    border: transparent 5px solid;
    box-sizing: border-box;
    display: inline-block;
    h2 {
      a {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 500;
        background-color: rgba($primary-color, 1);
        transition: 1s all ease-in-out;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    &:hover {
       
    }
    &:first-child {
    }
  }
  .podcastHighlight {
    background-color: rgba($primary-color, .8);
    width: 50%;
    height: $map-height;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    border-radius: 10px 10px 0 0;
    transform: translateX(0);
    &.ng-hide {
      height: 0;
      padding: 0;
      border: 0;
      display: inline-block !important;
      transform: translateX(900px);
    }
    .featured_image {
      overflow: hidden;
      width: 100%;
      border-radius: 10px 10px 0 0;
      margin-bottom: 1em;
      height: 250px;
      img {
        position: relative;
        top: -2px;
        right: 20%;
      }
    }
    h2 {
      color: white;
      font-size: 1.5em;
      line-height: 1.5em;
      font-weight: 700;
      span {
        padding: 1em;
        font-size: .5em;
        font-weight: 500;
        color: #fafafa;
        font-style: italic;
      }
    }
    .details {
      padding: 0 2em 2em;
      line-height: 1.5em;
      p {
        color: #3d3d3c;
      }
    }
  }
  .podcastDir {
    height: $map-height/2;
    width: $map-height/2;
    position: relative;
    border: transparent 5px solid;
    box-sizing: border-box;
    display: inline-block;
    &:nth-of-type(2) {
      &:hover {
        h2 a {
          background-color: rgba(#417505, 0.90);
          transition: 1s all ease-in-out;      
        }
      }
      h2 a{
        background-color: rgba(#417505, 0.77);
      }
    }
    &:nth-of-type(3) {
      &:hover {
        h2 a {
          background-color: rgba(#417505, 0.90);
          transition: 1s all ease-in-out;  
        }
      }
      h2 a{
        background-color: rgba(#417505, 0.77);
      }
    }
    &:nth-of-type(4) {
      &:hover {
        h2 a {
          background-color: rgba(#61B400, 0.90);
          transition: 1s all ease-in-out;  
        }
      }
      h2 a{
        background-color: rgba(#61B400, 0.77);
      }
    }
    &:nth-of-type(5) {
      &:hover {
        h2 a {
          background-color: rgba(#90C751, 0.90);
          transition: 1s all ease-in-out;  
        }
      }
      h2 a{
        background-color: rgba(#90C751, 0.77);
      }
    }
    &:nth-of-type(6) {
      &:hover {
        h2 a {
          background-color: rgba(#90C751, 0.90);
          transition: 1s all ease-in-out;
        }
      }
      h2 a{
        background-color: rgba(#90C751, 0.77);
      }
    } 
    &:nth-of-type(7) {
      &:hover {
        h2 a {
         background-color: rgba(#417505, 0.90);
         transition: 1s all ease-in-out;   
        }
      }
      h2 a{
        background-color: rgba(#417505, 0.77);
      }
    }
    &:nth-of-type(8) {
      &:hover {
        h2 a {
          background-color: rgba(#417505, 0.90);
          transition: 1s all ease-in-out;  
        }
      }
      h2 a{
        background-color: rgba(#417505, 0.77);
      }
    }
    &:nth-of-type(9) {
      &:hover {
        h2 a {
          background-color: rgba(#90C751, 0.90);
          transition: 1s all ease-in-out;  
        }
      }
      h2 a{
        background-color: rgba(#90C751, 0.77);
      }
    }
  }
  // .podcastDir {
  //   &:nth-of-type(2) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(3) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(4) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(5) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(6) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(7) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(8) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  //   &:nth-child(9) h2 a{
  //     background-color: rgba($primary-color,(random(50)+50)/100);
  //   }
  // }
}
span.close_button {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  right: 1em;
  top: 1em;
  color: #bbb;
  border-radius: 50%;
  border: 1px solid #bbb;
  transition: 1s all ease-in-out;
  text-align: center;
  z-index: 999;
  cursor: pointer;
  &:hover {
    border: 1px solid #fafafa;
    color: #fafafa;
    transition: 1s all ease-in-out;
  }
}