<div ng-show="paths" class="mapContainer">
    <svg ng-if="paths" height="100%" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path ng-if="paths" 
            ng-repeat="p in paths track by $index" 
            id="{{p.id}}" 
            ng-click="select(p.id)"
            ng-class="{ 'selected' : highPathId == p.id, 'visible' : p.visible, 'notvisible' : !p.visible }" 
            fill="#bfc19c" 
            stroke="#000000" 
            stroke-width="0" 
            stroke-opacity="1" 
            ng-attr-d="{{p.path}}" 
            transform="scale(0.7)">
        </path>
    </svg>
</div>
