.mapContainer {
  height: $map-height;
  position: relative;
  width: 50%;
  float: left;
  svg {
    overflow: hidden; 
    position: relative; 
    left: 0;
    top: 10px;
    width: 70%;
    height: 327px;
    transform: scale(1.4);
    transform-origin: 0 0;
    path {
      cursor: pointer;
      opacity: 0.4;
      transition: 1s all ease-in-out;
      &:hover {
        opacity: 1 !important;
        transition: 1s all ease-in-out;
      }
      &.selected {
        opacity: 1 !important;
        transition: 1s all ease-in-out; 
      }
      &.notvisible {
        opacity: .3;
        stroke-width: 2px;
        stroke: white;
        fill: #d3d3dc;
        &:hover {
          opacity: .3;
          stroke-width: 2px;
          stroke: white;
          fill: white;
          cursor: default;
        }
      }
    }
  }
}