header {
    background-color: $bg;
    @include clearfix;
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        position: relative;
        .logo {
            h1 {
                width: 200px;
                height: 50px;
                position: relative;
                a {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    @include hide-text;
                    background-image: url(./images/header/logo2x.png);
                }
            }
        }
    }
}
